{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    <h2>Transaction History</h2>
    <table class="table table-bordered table-striped">
        <thead class="thead-light">
            <tr>
                <th>Type</th>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total value</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for t in transactions %}
                <tr>
                    <td>{{ t.type }}</td>
                    <td>{{ t.symbol }}</td>
                    <td>{{ t.shares }}</td>
                    <td>{{ (t.price) | usd }}</td>
                    <td>{{ (t.shares|int * t.price) | usd }}</td>
                    <td>{{ t.timestamp }}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}
